@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-background text-gray-800 font-sans;
}

.btn-primary {
  @apply bg-primary text-white px-4 py-2 rounded-lg hover:bg-teal-800 transition-colors;
}

.btn-secondary {
  @apply bg-secondary text-white px-4 py-2 rounded-lg hover:bg-sky-600 transition-colors;
}

.card {
  @apply bg-surface shadow-md rounded-xl p-6;
}
